@import url('https://fonts.googleapis.com/css?family=Alef');

h2 {
	text-align: center;
	font-family: 'Alef', serif;
}

.center {
	margin: auto;	
	display: table;
}

#circle {
	width: 150px;
	height: 150px;
	border: 2px solid #7FFFD4;
	border-radius: 50%;
	margin: auto;
}

#restaurant {
	font-family: 'Alef', serif;
	text-align: center;
	padding-top: 28px;
	color: grey;
	font-size: 1.5em;
}

.role-image {
	width: 40%;
}

button {
	display: table;
	margin: 20px auto;
}